<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add answer</title>
</head>
<body>

    <h2>Answer</h2>
        <p><b>QUESTION:</b> {{ question.title }}</p>
        <p>{{ question.message }}</p>

    <h3>Add your image</h3>
        <form method="POST" action="{{ url_for("add_img_to_answer", question_id=question['id']) }}" enctype="multipart/form-data">
            <p><input type="file" name="file" accept=".jpg,.png"></p>
            <input type="submit" value="Save image">
        </form>

    <h3>Add new answer</h3>
        <form action="{{ url_for("add_answer_post", question_id=question['id']) }}" method="post">
            <label for="message">Answer:</label>
            <textarea name="message" id="message">{{ answer["message"] }} </textarea>
        <input type="submit" value="submit">
    </form>

</body>
</html>