# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DATA\CODECOOL\Codecool.WEB\PROJECTS\ask-mate-1-python-kubaz45624\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
